<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>{{$title}}_{{$powered}}</title>
<meta name="csrf-token" content="{{ csrf_token() }}">
@load('favicon.ico')
@load('css/normalize.css|layui/css/layui.css|css/style.css',true,'install/static/assets/','preload')
@yield('head','')
@load('css/normalize.css|layui/css/layui.css|css/style.css',true,'install/static/assets/')
</head><body>
{{--<!-- header nav -->--}}
<header class="layui-header-default">
  <div class="layui-header-nav">
    <div class="layui-inside">
      <p class="layui-logo-name">{{$logo}}<span>{{$version}}</span></p>
      @if('Learn\Install\Controllers'==Request::route()->getAction('namespace') && 'install'==Request::route()->getAction('prefix'))
      <ul class="layui-schedule @if('useProtocol'==Request::route()->getActionMethod())layui-active @endif">
        <li class="layui-number">1</li>
        <li class="layui-word">{{$steps[1]}}</li>
      </ul>
      <ul class="layui-schedule @if('environmentalDetection'==Request::route()->getActionMethod())layui-active @endif">
        <li class="layui-number">2</li>
        <li class="layui-word">{{$steps[2]}}</li>
      </ul>
      <ul class="layui-schedule @if('parameterSetting'==Request::route()->getActionMethod())layui-active @endif">
        <li class="layui-number">3</li>
        <li class="layui-word">{{$steps[3]}}</li>
      </ul>
      <ul class="layui-schedule @if('installationIsComplete'==Request::route()->getActionMethod())layui-active @endif">
        <li class="layui-number">5</li>
        <li class="layui-word">{{$steps[5]}}</li>
      </ul>
      @endif </div>
  </div>
</header>
{{--<!-- conntent start  -->--}}
@yield('content','')
{{--<!-- conntent end  -->--}} 
{{--<!-- footer -->--}}
<footer class="layui-footer layui-footer-default">
  <div class="layui-container">
    <div class="layui-footer-switch"> <span class="layui-footer-ysp"> <a href="http://shopxo.net/" target="_blank" title="ShopXO官网">ShopXO官网</a> </span> <span class="layui-footer-divider"> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; </span> <span class="layui-footer-ysp"> <a href="http://store.shopxo.net/" target="_blank" title="ShopXO应用商店">ShopXO应用商店</a> </span> <span class="layui-footer-divider"> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; </span> <a href="http://ask.shopxo.net/" target="_blank" title="官方论坛">官方论坛</a> </div>
    <div class="layui-footer-miscs">
      <p>由 <a href="http://shopxo.net/" title="ShopXO" target="_blank" class="">ShopXO</a> 提供技术支持</p>
      <p>CopyRight©{{date('Y')}} ShopXO {{$version}} Inc.</p>
      <p>黔ICP备15003530号-5</p>
    </div>
  </div>
</footer>
</body>
</html>
